html {
    background-color: #00454f;
    cursor: default;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
  }
  
  body {
    color: white; /* Adjust text color for better visibility */
    margin: 0;
    padding: 0;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* Adjusted to 500px */
  }
  
  .center img {
    max-width: 100%;
    max-height: 100%;
    
  }
  
  #inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  
  #inputs input[type="text"] {
    margin: 0 5px;
    width: 50px; /* Adjust the width as needed */
    text-align: center; /* Center the text within the input */
  }
  
  #labels {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 50px;
  }

  #key {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 15px;
    margin: 8px;
  }
  
  #labels label {
    margin: 0 5px;
    font-weight: bold;
  }
  
  #buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
 
  #line {
    margin-top: 5px;
    text-align: center;
    color: rgb(0, 69, 79);
    font-size: 1px;
    font-weight: bold;
  }

  #levels{
    left: 50%;

  }

  .level-1337:after {
    
    color: rgb(255, 255, 255);
    font-weight: bold;
    animation: flicker 4s infinite;
    content: '[RED TEAMER]';
    align-self: center;
  }


  @keyframes flicker {
    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
      opacity: 0.99;
      text-shadow: -1px -1px 0 $outline, 1px -1px 0 $outline, -1px 1px 0 $outline, 1px 1px 0 $outline, 0 -2px 8px, 0 0 2px,
        0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
    }
    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
      opacity: 0.4;
      text-shadow: none;
    }
  }